/*Variables*/
:root {
    --color-primary: #C271FF;
    --color-primary-clicked: rgb(123, 63, 168);
    --color-primary-forms: #d195ff;
    --color-secondary: #071629;
}
/*Fonts, sizes, and colors*/
body {
    font-family: 'Source Sans Pro';
}
.coiny {
    font-family: 'Coiny';
}
.go-pro {
    font-size: 60px;
    margin-top: 6rem;
}
.faq {
    font-size: 60px;
    color: var(--color-secondary)!important;
}
.h1 {
    font-size: calc(6rem + .2vw)!important;
}
.text-primary {
    color: var(--color-primary)!important;
}
.text-dark {
    color: var(--color-secondary)!important;
}
.fs-sm-6 {
    font-size: 1rem;
}
.fs-7 {
    font-size: .8rem!important;
}
.table-price {
    font-size: 44px!important;
}
.bg-primary {
    background-color: var(--color-primary)!important;
    background-size: cover;
}
.bg-secondary {
    background-color: var(--color-secondary)!important;
    background-size: cover;
}
.form-select {
    background-color: var(--color-primary-forms);
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23FFF' stroke='%23FFF' stroke-linecap='butt' stroke-linejoin='butt' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.form-control {
    background-color: var(--color-primary-forms);
}
.form-control::placeholder {
    color: #FFF;
    opacity: .6;
}
.select-opacity {
    opacity: .8;
}
.form-select:focus {
    border-color: #d715e9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(248, 102, 212, 0.377);
}
.form-control:focus {
    border-color: #d715e9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(248, 102, 212, 0.377);
}
/*Adding background to body*/
.hero-header {
    background-image: url(images/background_1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.header-grid {
    background-image: url(images/background_2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.courses-header {
    background-image: url(images/pic_3.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.container-xxl {
    max-width: 1440px;
}
/*Set hamburger icon color to white and adjusting position*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*Navbar hover animation*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation:hover {
    color: var(--color-primary)!important;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 83%;
  transform: scaleX(0);
  height: 2px;
  bottom: 6px;
  left: 7px;
  background-color: #FFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*Custom margins*/
.title_register_div {
    margin-top: 163px;
}
.pros-div {
    margin-top: 160px;
}
.popular-heading {
    margin-top: 80px;
}
.latest-heading {
    margin-top: 80px;
}
/*Button styling*/
.btn:hover {
    opacity: .9;
    background-color: #C271FF;
}
.btn-primary {
    background-color: var(--color-primary);
    border: var(--color-primary);
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #FFF;
    background-color: var(--color-primary-clicked);
    border-color: var(--color-primary-clicked);
}
/*Image sizing*/
.pro-img {
    max-width: 150px;
}
.quote-image {
    max-width: 148px;
    max-height: 148px;
    position: absolute;
    right: 15%;
    bottom: -7.75rem;
    left: 15%;
}
.tutorial_tiny_image {
    max-width: 30px;
    max-height: 30px;
}
.rating-image {
    max-width: 107px;
    max-height: 15px;
}
.smile-img {
    max-width: 45px;
    max-height: 36px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 64px;
    max-height: 64px;
}
.footer-logo {
    max-width: 169px;
    max-height: 30px;
    margin-left: 160px;
}
.footer-socials {
    max-width: 130px;
    max-height: 30px;
    margin-right: 160px;
}
.checkmark {
    max-width: 53px;
    max-height: 29px;
}
.signal-img {
    max-width: 88px;
    max-height: 35px;
}
.search-icon {
    position: absolute;
    
}
/*Quote carousel styling*/
.carousel-control-prev-icon {
    background-image: url(images/arrow_white_left.png);
    height: 63px;
    width: 30px;
}
.carousel-control-next-icon {
    background-image: url(images/arrow_white_right.png);
    height: 63px;
    width: 30px;
}
.quote-caption {
    bottom: -9rem;
    right: 10%;
    left: 29%;
}
/*Popular/latest carousel styling*/
.carousel-control-next-icon-black {
    background-image: url(images/arrow_black_right.png);
    height: 63px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.carousel-control-prev-icon-black {
    background-image: url(images/arrow_black_left.png);
    height: 63px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
/*Media query for resizing issues*/
@media (max-width: 1200px) {
    /*Quote carousel positioning*/
    .quote-caption {
        left: 33%;
    }
    /*Footer styling*/
    .footer-logo {
        margin-left: 90px;
    }
    .footer-socials {
        margin-right: 90px;
    }
}
/*Media query for more resizing issues*/
@media (max-width: 930px) {
    /*Quote carousel positioning*/
    .quote-caption {
        left: 36%;
        right: 13%;
        bottom: -9.35rem;
    }
        /*Footer styling*/
        .footer-logo {
            margin-left: 70px;
        }
        .footer-socials {
            margin-right: 70px;
        }
}
/*Media query for tablets*/
@media (max-width: 768px) {
    /*Quote carousel positioning*/
    .quote-caption {
        left: 43%;
        right: 13%;
        bottom: -9.75rem;
    }
    /*Footer styling*/
    .footer-logo {
        margin-left: 50px;
    }
    .footer-socials {
        margin-right: 50px;
    }
}
/*Media query for more resizing issues*/
@media (max-width: 666px) {
    /*Popular/latest carousel*/
    .popular-md-card-container {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }
    .latest-md-card-container {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }
}
/*Media query for mobile view*/
@media (max-width: 575px) {
    /*Header sizing*/
    .h1 {
        font-size: calc(4rem + .2vw)!important;
    }
    /*Quote Carousel positioning*/
    .quote-image {
        margin-bottom: 80px;
        position: static;
    }
    .quote-caption {
        bottom: -7.5rem;
        left: 15%;
    }
    .carousel-control-prev-icon {
        margin-bottom: 220px;
    }
    .carousel-control-next-icon {
        margin-bottom: 220px;
    }
    /*Popular/latest carousel*/
    .popular-heading {
        margin-top: 60px;
    }
    .latest-heading {
        margin-top: 60px;
    }
    /*Footer styling*/
    .footer-logo {
        margin-left: 0px;
    }
    .footer-socials {
        margin-right: 0px;
    }
}